Eazy Template Extractions/cdfs.v1.6.1.h5
Eazy Template Extractions/zfourgeSEDs/*
*.h5
outputs/
datasets/student_fits_files/*
datasets/full_zfourge_decomposed/cdfs_best_models_fits
datasets/full_zfourge_decomposed/cosmos_best_models_fits
datasets/full_zfourge_decomposed/uds_best_models_fits
/outputs/composite_seds/UDS*
/outputs/composite_seds/CDFS*
/outputs/composite_seds/COSMOS*
SyntheticPhotometry/*
legacy
honours_outputs
.venv
outputs/*
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/ZFOURGE_obsevational_composites_fluxesType1AGN_uvj_diagram_pathsubplot.png
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/ZFOURGE_obsevational_composites_fluxesType1AGN_redshift_distribution.png
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/UVJ_agn_evolution_CIGALE_ZFOURGE_single_comparative.png
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/UVJ_agn_evolution_CIGALE_ZFOURGE_comparison_redshift.png
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/UVJ_agn_evolution_CIGALE_ZFOURGE_comparison.png
Context/Synthetic_SED_Modelling_of_AGN_Contamination_in_Galaxy_Colour_Colour_Diagrams/Images/TheoreticalModelPlots/UGR_agn_evolution_CIGALE_ZFOURGE_comparison.png
